@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Montserrat:wght@700&display=swap');

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Manrope, sans-serif;
  background-color: #EFF1F4;
  color: #393F61;
}

.books {
  display: grid;
  grid-template-areas: "title button"
    "table table";
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
  padding: 30px;
  background-color: #fff;
  width: 100%;
  max-width: 760px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

.books__title {
  grid-area: title;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 50px;
}

.orange-button {
  grid-area: button;
  cursor: pointer;
  width: 294px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: 10px;
  border: none;
  background-color: #E36A13;
  outline: none;
  color: #fff;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

.button-text {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.orange-button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F18825;
  border-radius: 10px;
  z-index: 0;
}

.books-table {
  grid-area: table;
}

.books-table th,
.books-table td {
  padding: 5px;
  text-align: left;
}

.books-table th {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.book-number {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
}

.author-name,
.edit-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: underline;
  color: #4DA3F7;
  cursor: pointer;
}

.book-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.author-cell {
  position: relative;
}

.author-description {
  position: absolute;
  top: 100%;
  left: 100%;
  max-width: 400px;
  background-color: #fff;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.popup.show {
  opacity: 1;
  visibility: visible;
}

.popup__wrapper {
  background-color: #fff;
  padding: 56px 18px 22px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.popup__close-button {
  background-color: transparent;
  position: absolute;
  top: 14px;
  right: 11px;
  width: 16px;
  height: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
}

.popup__close-button span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #B4B4B4;
  border-radius: 2px;
}

.popup__close-button span:first-child {
  transform: rotate(45deg);
}

.popup__close-button span:last-child {
  transform: rotate(-45deg);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form__input {
  padding: 10px 22px;
  border: 2px solid #F18825;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
}

.form__submit-button {
  margin: 16px 0 0 auto;
}